@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>
<br>
@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.Stylist, new { @class = "", placeholder="Required", required="required"})</p>
  <p>@Html.DropDownList("StylistId")</p>
  <p>Name:</p>
  <p>@Html.TextBoxFor(model => model.ClientName, new { @class = "", placeholder="Required", required="required"})</p>
  <p>Description:</p>
  <p>@Html.TextBoxFor(model => model.ClientDescription, new { @class = "", placeholder="Required", required="required"})</p>
  <br>
  <input type="submit" value="Save client" class="btn" />
}
<br>
<div>
  <span>
      <span>@Html.ActionLink("Back to Home", "Index", "Home")</span>
      <br>
      <span>@Html.ActionLink("See All stylists", "Index", "Stylists")</span>
  </span>
</div>
