@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>@Html.DisplayFor(model => model.ClientName)</h2>
<p>Stylist: @Html.DisplayFor(model => model.Stylist.StylistName)</p>
<hr />
<br>
<p>Description: @Html.DisplayFor(model => model.ClientDescription)</p>
<br>
<div>
  <span>
      <span>@Html.ActionLink("Edit client", "Edit", new { id = Model.ClientId })</span>
      <br>
      <span>@Html.ActionLink("Delete client", "Delete", new { id = Model.ClientId })</span>
      <br>
      <span>@Html.ActionLink("Back to clients", "Index")</span>
  </span>
</div>
